.center-div {
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.form-header {
    text-align: center;
}

.fields {
    width: 70%;
    max-width: 500px;
    margin: auto;
}

textarea {
    resize: none;
}
