
.page-title {
        text-align: center;
        color: cornflowerblue;
        color: #06425C;
        color: #FF4C3B;
        color: dodgerblue;
        font-size: 3em;
}


.tagline {
        text-align: center;
        color: cornflowerblue;
        color: #06425C;
        color: #FF4C3B;
        color: #FF4C3B;
        color: dodgerblue;
        font-style: italic;
        font-size: 1.15em;
        margin-bottom: 0.5em;
}

@media only screen and (max-width: 680px) {
        .tagline {
                margin-bottom: 0.5em;
        }
}
