
.listing-box {
        border: 2px solid slategrey;
        border-radius: 5px;
        background-color: white;
        border-width: 12px;
        border-image: url("../assets/bone-border.png") 8% 8% round;
        border-color: white;
}

.listing-title {
        color: #FF4C3B;
        color: dodgerblue;
}

.listing-more-button {
}

.rating {
        font-weight: bold;
        text-align: center;
        color: cornflowerblue;
        color: #E45641;
        font-size: 120%;
}

img {
        display: block;
        width: 80%;
        margin: auto;
        height: auto;
}

.description {
        width: 90%;
        margin: auto;
        color: dimgrey;
}
