
.rating-box {
        margin-top: 3em;
        text-align: center;
}

.rating-levels {
        color: #FF4C3B;
        font-weight: normal;
}

.rating-text {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
        color: #06425C;
        color: #FF4C3B;
        color: cornflowerblue;
        color: dodgerblue;
        color: #E45641;
}

.rating-icons {
        text-align: right;
        margin-right: 1%;
        font-weight: bold;
        font-size: 120%;
        color: #E45641;
}


.rating-description {
        text-align: left;
        font-size: 110%;
}

.rating-text ul {
        list-style: none;
}
