<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h2 class="form-header">Edit Menu</h2>
      <form action="http://127.0.0.1:5000/edit" method="post" enctype='multipart/form-data'>
        <button type="submit" class="btn btn-primary btn-lg btn-block" name="edit" value="add">Add</button>
        <button type="submit" class="btn btn-primary btn-lg btn-block" name="edit" value="update">Update</button>
      </form>
  </body>
</html>
