<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel=stylesheet href="{{ url_for('static', filename='style/form.css') }}">
  </head>
  <body>
    <h2 class="form-header">Add New Pub</h2>
    <div class="container">
      <form action="http://127.0.0.1:5000/submit" method="post" enctype='multipart/form-data'>
        <div class="form-group center-div">
          <label for="first-name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Pub Name">
        </div>
        <!--<div class="form-group center-div">
          <label for="exampleInputEmail1">Website</label>
          <input type="email" class="form-control" id="website" name="website" placeholder="Website">
        </div>
        <div class="form-group center-div">
          <label for="last-name">Facebook</label>
          <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Facebook page">
        </div>
        <div class="form-group center-div">
          <label for="last-name">Phone Number</label>
          <input type="text" class="form-control" id="phone-number" name="phone-number" placeholder="Phone Number">
        </div>-->
        <div class="center-div">
          <label for="rating">Rating</label>
          <label class="radio-inline">
            <input id="tolerated" value="tolerated" type="radio" name="rating" checked>Tolerated
          </label>
          <label class="radio-inline">
            <input id="welcomed" value="welcomed" type="radio" name="rating">Welcomed
          </label>
          <label class="radio-inline">
            <input id="loved" value="loved" type="radio" name="rating">Loved
          </label>
        </div>
        <div class="form-group center-div">
          <label for="exampleFormControlTextarea1">Review</label>
          <textarea class="form-control" id="review" name="description" rows="10"></textarea>
        </div>
        <!--<div class="center-div">
          <input id="file-upload" type="file" name="image" accept="image/*">
        </div>-->
        <div class="center-div">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  <script src="form.js"></script>
  </body>
</html>
